<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.tourbook.deviceDataReader">
      <device
            class="net.tourbook.device.osynce.macro.MacroDeviceDataReader"
            extensionSortPriority="99"
            fileextension="mac"
            id="net.tourbook.device.osynce.macro.MacroDeviceDataReader"
            name="o_synce Macro">
      </device>
   </extension>
   <extension
         point="net.tourbook.externalDeviceDataReader">
      <device
            class="net.tourbook.device.osynce.macro.MacroExternalDeviceReader"
            id="net.tourbook.device.osynce.macro.MacroExternalDeviceReader"
            name="o_synce Macro"
            type="serial">
      </device>
   </extension>
  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.tourbook.preferences.PrefPageDataImport"
            class="net.tourbook.device.osynce.macro.PreferencePage"
            id="net.tourbook.device.osynce.macro.prefPage"
            name="Macro">
      </page>
  </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.tourbook.device.osynce.macro.PreferenceInitialzer">
      </initializer>
   </extension>

</plugin>
